<ion-view title="Input - summary" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="inputSummary-list5">
      <ion-item id="inputSummary-list-item7">L0
        <span class="item-note">mm</span>
        <ion-option-button class="button-stable">Initial lenght</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item15">D0
        <span class="item-note">mm</span>
        <ion-option-button class="button-stable">Initial Diameter</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item9">Du
        <span class="item-note">mm</span>
        <ion-option-button class="button-stable">Final Diameter</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item10">Lu
        <span class="item-note">mm</span>
        <ion-option-button class="button-positive">Final lenght</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item11">Pm
        <span class="item-note">N</span>
        <ion-option-button class="button-stable">Maximum force</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item12">PeL
        <span class="item-note">N</span>
        <ion-option-button class="button-positive">Low yield point</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item13">PeH
        <span class="item-note">N</span>
        <ion-option-button class="button-positive">Higher yield point</ion-option-button>
      </ion-item>
      <ion-item id="inputSummary-list-item14">Pu
        <span class="item-note">N</span>
        <ion-option-button class="button-stable">Breaking force</ion-option-button>
      </ion-item>
    </ion-list>
    <div id="inputSummary-container5" class="creator-container"></div>
    <div id="inputSummary-button-bar5" class="button-bar">
      <a ui-sref="tensileTest" id="inputSummary-button27" class="button button-positive  button-block icon-left ion-android-arrow-up">List</a>
      <a ui-sref="menu.results" id="inputSummary-button21" class="button button-positive  button-block icon-right ion-arrow-graph-up-right">Results</a>
    </div>
  </ion-content>
</ion-view>