<ion-view title="Tensile test" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="tensileTest-list-item-container1">
      <div id="tensileTest-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Tensile test list</p>

        <div class="row header">
          <div class="col">Id</div>
          <div class="col">Date</div>
          <div class="col">Completed?</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="data in ctrl.data">
          <div class="col">{{data.id}}</div>
          <div class="col">{{data.code}}</div>
          <div class="col">LK {{data.limit}}</div>
          <div class="col">{{data.account}}</div>
          <div class="col">
            <button class="button button-positive" ng-click="ctrl.edit(data.id)">Edit</button>
            <button class="button button-assertive" ng-click="ctrl.remove(data.id)">Add</button>
          </div>
        </div>
      </div>
    </div>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="anything to save" ng-model="newThing">
        </label>
        <button class="button button-clear button-positive icon" ng-click="add(newThing)">
          <i class="ion-ios-plus-outline"></i> Add
        </button>
      </div>
    </div>

    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-repeat="thing in things">
        {{thing}}
        <ion-option-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-option-button>
      </ion-item>
    </ion-list>

    <a ui-sref="menu.wizardStep1" id="tensileTest-button7" class="button button-positive  button-block icon-left ion-wand">Run Test Wizard</a>
    <button id="tensileTest-button10" class="button button-positive  button-block icon-left ion-android-upload">Upload data from file</button>
  </ion-content>
</ion-view>
