<ion-view title="Tensile test" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="tensileTest-list-item-container1">
      <div id="tensileTest-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Tensile test list</p>

        <div class="row header">
          <div class="col">Id</div>
          <div class="col">Date</div>
          <div class="col">Completed?</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="test in $storage.tests">
          <div class="col">{{test.id}}</div>
          <div class="col">{{test.date}}</div>
          <div class="col">{{test.completed}}</div>
          <div class="col">
            <button class="button button-positive" ng-click="ctrl.edit(data.id)">Edit</button>
            <button class="button button-assertive" ng-click="ctrl.remove(data.id)">Remove</button>
          </div>
        </div>
      </div>
    </div>

    <a ui-sref="menu.wizardStep1" id="tensileTest-button7" class="button button-positive  button-block icon-left ion-wand" ng-click="create()">Run Test Wizard</a>
    <button id="tensileTest-button10" class="button button-positive  button-block icon-left ion-android-upload">Upload data from file</button>
  </ion-content>
</ion-view>
