<ion-view title="Wizard - step 3" id="page9">
  <ion-content padding="true" class="has-header">
    <h id="wizardStep3-heading4" style="color:#000000;font-weight:400;">Input sample dimensions after break</h>
    <form id="wizardStep3-form5" class="list">
      <label class="item item-input" id="wizardStep3-input12">
        <span class="input-label">L<sub>u</sub></span>
        <input type="number" placeholder="Final lenght" ng-model="$storage.tests[$storage.current].lu">
      </label>
      <label class="item item-input" id="wizardStep3-input13">
        <span class="input-label">D<sub>u</sub></span>
        <input type="number" placeholder="Final Diameter" ng-model="$storage.tests[$storage.current].du">
      </label>
      <label class="item item-input" id="wizardStep3-input14">
        <span class="input-label">P<sub>m</sub></span>
        <input type="number" placeholder="Maximum force" ng-model="$storage.tests[$storage.current].pm">
      </label>
    </form>
    <div id="wizardStep3-button-bar3" class="button-bar"></div>
    <a ui-sref="menu.wizardStep4" id="wizardStep3-button19" class="button button-positive  button-block icon-right ion-android-arrow-forward">Next</a>
    <a ui-sref="tensileTest" id="wizardStep3-button20" class="button button-assertive  button-block icon-left ion-android-cancel">Cancel</a>
  </ion-content>
</ion-view>
