<ion-view title="Wizard - step 2" id="page8">
  <ion-content padding="true" class="has-header">
    <h id="wizardStep2-heading3" style="color:#000000;font-weight:400;">Input data from testing machine</h>
    <form id="wizardStep2-form4" class="list">
      <label class="item item-input" id="wizardStep2-input9">
        <span class="input-label">P</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="wizardStep2-input10">
        <span class="input-label">L1</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="wizardStep2-input11">
        <span class="input-label">L2</span>
        <input type="number" placeholder="">
      </label>
      <button id="wizardStep2-button16" class="button button-balanced  button-block icon-left ion-android-add-circle">Add</button>
    </form>
    <a ui-sref="menu.wizardStep3" id="wizardStep2-button18" class="button button-positive  button-block icon-right ion-android-arrow-forward">Next</a>
    <a ui-sref="tensileTest" id="wizardStep2-button14" class="button button-assertive  button-block icon-left ion-android-cancel">Cancel</a>
    <div id="wizardStep2-container3" class="creator-container"></div>
    <div id="wizardStep2-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>