<ion-view title="Wizard - step 5" id="page14">
  <ion-content padding="true" class="has-header">
    <h id="wizardStep5-heading6" style="color:#000000;font-weight:400;">Upload photo</h>
    <div id="wizardStep5-button-bar6" class="button-bar"></div>
    <button id="wizardStep5-button15" class="button button-balanced  button-block icon-left ion-ios-camera-outline">Capture photo</button>

    <a ui-sref="tensileTest" id="wizardStep5-button13" class="button button-assertive  button-block icon-left ion-android-cancel">Cancel</a>
  </ion-content>
</ion-view>
