<ion-view title="Wizard - step 1" id="page7">
  <ion-content padding="true" class="has-header">
    <h id="wizardStep1-heading2" style="color:#000000;font-weight:400;">Input sample dimensions</h>
    <form id="wizardStep1-form3" class="list">
      <label class="item item-input" id="wizardStep1-input7">
        <span class="input-label">L<sub>0</sub> [mm]</span>
        <input type="number" placeholder="Initial lenght" ng-model="$storage.tests[$storage.current].l0">
      </label>
      <label class="item item-input" id="wizardStep1-input8">
        <span class="input-label">D<sub>0</sub> [mm]</span>
        <input type="number" placeholder="Initial Diameter" ng-model="$storage.tests[$storage.current].d0">
      </label>
    </form>
    <div id="wizardStep1-button-bar1" class="button-bar"></div>
    <a ui-sref="menu.wizardStep2" id="wizardStep1-button9" class="button button-positive  button-block icon-right ion-android-arrow-forward">Next</a>
  </ion-content>
</ion-view>
