<ion-view title="Wizard - step 4" id="page10">
  <ion-content padding="true" class="has-header">
    <h id="wizardStep4-heading5" style="color:#000000;font-weight:400;">Read data from graph</h>
    <form id="wizardStep4-form6" class="list">
      <label class="item item-input" id="wizardStep4-input15">
        <span class="input-label">P<sub>eL</sub> [N]</span>
        <input type="number" placeholder="Lower yield point" ng-model="$storage.tests[$storage.current].pel">
      </label>
      <label class="item item-input" id="wizardStep4-input16">
        <span class="input-label">P<sub>eH</sub> [N]</span>
        <input type="number" placeholder="Higher yield point" ng-model="$storage.tests[$storage.current].peh">
      </label>
      <label class="item item-input" id="wizardStep4-input17">
        <span class="input-label">P<sub>u</sub> [N]</span>
        <input type="number" placeholder="Breaking force" ng-model="$storage.tests[$storage.current].pu">
      </label>
    </form>
    <div id="wizardStep4-button-bar4" class="button-bar"></div>
    <a ui-sref="menu.wizardStep5" id="wizardStep4-button17" class="button button-positive  button-block icon-right ion-android-arrow-forward">Next</a>
    <a ui-sref="tensileTest" id="wizardStep4-button22" class="button button-assertive  button-block icon-left ion-android-cancel">Cancel</a>
  </ion-content>
</ion-view>
