<ion-view title="Wizard - step 2" id="page8">
  <ion-content padding="true" class="has-header">
    <h id="wizardStep2-heading3" style="color:#000000;font-weight:400;">Input data from testing machine</h>
    <form id="wizardStep2-form4" class="list">
      <label class="item item-input" id="p">
        <span class="input-label">P [dN]</span>
        <input type="number" placeholder="Force" ng-model="data.p">
      </label>
      <label class="item item-input" id="l1">
        <span class="input-label">L<sub>1</sub> [mm]</span>
        <input type="number" placeholder="Extensometer 1" ng-model="data.l1">
      </label>
      <label class="item item-input" id="l2">
        <span class="input-label">L<sub>2</sub> [mm]</span>
        <input type="number" placeholder="Extensometer 2" ng-model="data.l2">
      </label>
      <button id="wizardStep2-button16" class="button button-balanced  button-block icon-left ion-android-add-circle" ng-click="add(data)">Add</button>
    </form>
    <a ui-sref="menu.wizardStep3" id="wizardStep2-button18" class="button button-positive  button-block icon-right ion-android-arrow-forward">Next</a>
    <a ui-sref="tensileTest" id="wizardStep2-button14" class="button button-assertive  button-block icon-left ion-android-cancel">Cancel</a>
    <div id="wizardStep2-container3" class="creator-container"></div>
    <div id="wizardStep2-button-bar2" class="button-bar"></div>

    <div id="tensileTest-markdown2" class="show-list-numbers-and-dots">

      <div class="row header">
        <div class="col">#</div>
        <div class="col">P [dN]</div>
        <div class="col">L1 [mm]</div>
        <div class="col">L2 [mm]</div>
        <div class="col"></div>
      </div>
      <div class="row" ng-repeat="row in $storage.tests[$storage.current].input">
        <div class="col">{{$index + 1}}</div>
        <div class="col">{{row.p}}</div>
        <div class="col">{{row.l1}}</div>
        <div class="col">{{row.l2}}</div>
        <div class="col">
          <button class="button button-small button-assertive" ng-click="remove(row)">Remove</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
